.badge {
	background: rgb(0, 0, 0) !important;
}

.col_count {
	display: flex;
	flex-direction: row;
}

button {
	background-color: #6c757d;
	border: none;
	transition: linear;
}

button:focus {
	box-shadow: initial;
	outline: none;
}
