.position-absolute {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.p-3 {
	padding: 0;
	z-index: 2;
}

.toast.show {
	position: absolute;
	width: 100%;
}

.toast-header {
	display: flex;
	flex-direction: row;
	margin: auto;
	justify-content: space-between;
}

.alert_custom {
	height: 20px;
	width: 20px;
	border-radius: 0.25rem;
}

.alert_warning {
	background-color: #ffc107;
}

.alert_danger {
	background-color: #dc3545;
}
