.btn_add::before {
	content: 'Add';
}

.col_menu {
	background-color: pink;
	margin: 15px;
}

@media (max-width: 768px) {
	.btn_add {
		height: 40px;
		width: 40px;
		border-radius: 0rem;
		border: 5px solid #96a0ac;
		overflow: hidden;
	}

	.btn_add::before {
		content: '+';
		height: 35px;
		width: 35px;
		font-size: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
		justify-self: center;
		justify-items: center;
		position: relative;
		top: -0.8rem;
		left: -0.9rem;
		color: white;
	}
}
